* {
    margin:0;
    padding:0;
}

header, footer {
    background-color: #1b1b1b;
}

header {
    height: 13vh;
    border-bottom: solid 3px #2c2c2c;
    overflow: visible;
}

header nav a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

#logo {
    height: 13vh;
    box-sizing: border-box;
    padding: 3px 20px;
}

footer {
    height: 200px;
}