* {
    margin:0px;
    padding:0px;
}

header.main {
    margin:auto;
    width: 100vw;
    font-family:Arial, Helvetica, sans-serif;
    background-color: red;
}

ul, ol {
    list-style: none;
}

.nav {
    width:600px; /*Le establecemos un ancho*/
    margin:0 auto; /*Centramos automaticamente*/
}

.nav > li {
    float: left;
}

.nav:after {
    float: none;
}

.nav li a {
    background-color: #010035;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color: #010047;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}